:root{
    --gris-background: #2c2d2e
}

/* FUENTE */
@font-face {
    font-family: "Bebas";
    src: url(fonts/BebasNeue-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cormorant";
    src: url(fonts/CormorantGaramond-Light.ttf);
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--gris-background);
}

header{
    background-image: url("./images/HEADER.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    box-shadow: inset 0px -50px 50px 50px var(--gris-background);
   
    
}

.content-header{
    color: white;
    backdrop-filter: blur(2px);
    height: 100%;

}

.content-header p{
    display: block;
    float: left;
    margin-left: 5%;
    margin-top: 62px;
    font-size: 180px;
    font-family: 'Bebas';
    text-shadow: 10px 10px 10px black;
}

.content-header ul{
    display: block;
    float: right;
    margin-right: 57px;
}

.content-header ul li{
    display: block;
    float: left;
    text-decoration: none;
    margin-right: 80px;
    margin-top: 50px;
    font-size: 30px;
    font-family: 'Bebas';
    text-shadow: 10px 10px 10px black;

}

.content-header ul li a{
    color: white;
    text-decoration: none;
}

.header-gallery p{
    font-family: 'Bebas';
    color: white;
    font-size: 50px;
    margin-left: 5%;
    margin-top: 20px;
    text-shadow: 10px 10px 10px black;
}

.header-gallery{
    margin-top: 20px;
    padding-top: 10px;
}

.slider{
    width: 85%;
    height: 500px;
    margin: auto;
    overflow: hidden;
    margin-bottom: 50px;
    margin-top: 50px;
    box-shadow: 20px 20px 20px black;
    border-radius: 15px;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio 20s infinite alternate linear;

}

.slider li{
    width: 100%;
    list-style: none;
}

.slider img{
    width: 100%;
    height: 100%;
}

@keyframes cambio{
    0% { margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

.article-card{
    display: flex;
    width: 90%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;

}

.card{
    width: 30%;
    margin: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
    box-shadow: 10px 20px 20px black;

}

.card img{
    width: 100%;
    height: 100%;
    box-shadow: 20px 20px 20px black;
    transition: all 300ms;
    position: relative;
    border-radius: 10px;
}

.card img:hover{
    transform: scale(1.14);
}


footer{
    display: inline-block;
    width: 100%;
    color: white;
    height: 200px;
    background-color: black;
}

.development-with{
    text-align: right;
    float: right;
    margin-right: 0px;
    margin-top: 0px;
}


.development-with div img{
    width: 10%;
    height: 10%;
    margin-right: 30px;
    margin-top: 15px;
    float: right;

}

.development-with p{
    font-family: 'Bebas';
    margin-right: 7%;
    font-size: 20px;
    margin-top: 15px;

}

.development-by{
    float:left;
    font-family: 'Bebas';
    font-size: 20px;
    margin-top: 86px;
    margin-left: 2%;

}


